# The prefix in front of the plugin's messages.
prefix: "&7[&6AL&7]"

# Whether the plugin should check for updates or not.
updateChecker: true

# If set to any value higher than 0, the links will update every x ticks (they will be removed and set again parsing the placeholders).
# If set to 0, they will not update. It is not recommended to change this value unless you have placeholders which may change.
updateTime: 0

# The links that will appear in the links menu
links:
  # Any name to identify this link
  example:
    # The type of the button. If you are using this field, the "displayName" field will be ignored.
    # WARNING! This may override or be overriden by server links of the same type from other plugins.
    # Must be a value from this list: https://hub.spigotmc.org/javadocs/spigot/org/bukkit/ServerLinks.Type.html
    type: NEWS
    # The custom name for your plugin. Supports legacy color codes & minimessage format.
    # You must comment out the "type" setting in order for this to work.
    displayName: "<gradient:yellow:red>My custom name with gradients</gradient> &6and legacy colors!" # The text that will appear in the button.
    # The link that will be opened when the button is clicked.
    # You may use placeholders defined in the "placeholders" section. PAPI placeholders won't be parsed in this String.
    url: "https://www.google.com"
    # If true, the link will be sent individually to every player.
    # The advantage is that the placeholders in the "placeholders" section will be parsed for every player.
    # The disadvantage is that, if any other plugin updates the server links, the individual links will be
    # removed from the menu until the plugin is reloaded or the player reconnects.
    # Unless you need to use per-player placeholders, it is recommended to keep it set to false or unset.
    # This setting is optional and defaults to false.
    individual: false
    # Placeholders won't be replaced in the URL. Only those defined in this section will be replaced.
    # The exact text in the "match" field will be replaced with the text in the "replacement" field.
    # If the optional setting "parsePapi" is set to true and "replacement" has a placeholder, it will be replaced using PAPI.
    # This setting is optional and applies to both the name and URL.
    placeholders:
      - match: "{toReplace}"
        # If "parsePapi" is set to true, the value in "match" will be replaced with the value of the placeholder you put here.
        # You can also write any text other than placeholders.
        replacement: "%player_name%"
        # This setting is optional and defaults to true.
        parsePapi: true
